<a href="https://colab.research.google.com/github/AshaMariam/Assignment-on-Preprocessing/blob/main/Asha_Mariam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Assignment 4***

***Assignment on Preprocessing***

In [35]:
import pandas as pd

**1. Load the dataset into python environment**

In [36]:
df = pd.read_csv('/content/titanic_dataset.csv')

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**2. Make ‘PassengerId’ as the index column**

In [38]:
print(df.columns)
df.set_index('PassengerId', inplace=True)
print(df.head())

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S

**3. Check the basic details of the dataset**

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [40]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

**4. Fill in all the missing values present in all the columns in the dataset**

In [41]:
print(df.isnull().sum())

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [43]:
df.fillna(df.mean(), inplace=True)
df.fillna(df.mode().iloc[0], inplace=True)

<ipython-input-43-2bc2486950b4>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     891 non-null    object
 10  Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [45]:
print(df.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

**5. Check and handle outliers in at least 3 columns in the dataset**

In [46]:
def handle_outliers(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    data.loc[(data[column] < lower_bound) | (data[column] > upper_bound), column] = None
    return data

columns_with_outliers = ['Age', 'Fare', 'SibSp']

for column in columns_with_outliers:
    df = handle_outliers(df, column)

df.dropna(inplace=True)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1.0,0,A/5 21171,7.2500,B96 B98,S
3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0.0,0,STON/O2. 3101282,7.9250,B96 B98,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1.0,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.000000,0.0,0,373450,8.0500,B96 B98,S
6,0,3,"Moran, Mr. James",male,29.699118,0.0,0,330877,8.4583,B96 B98,Q

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 692 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  692 non-null    int64
 1   Pclass    692 non-null    int64
 2   Name      692 non-null    object
 3   Sex       692 non-null    object
 4   Age       692 non-null    float64
 5   SibSp     692 non-null    float64
 6   Parch     692 non-null    int64
 7   Ticket    692 non-null    object
 8   Fare      692 non-null    float64
 9   Cabin     692 non-null    object
 10  Embarked  692 non-null    object
dtypes: float64(3), int64(3), object(5)
memory usage: 64.9+ KB

In [48]:
df.head(15)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1.0,0,A/5 21171,7.2500,B96 B98,S
3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0.0,0,STON/O2. 3101282,7.9250,B96 B98,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1.0,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.000000,0.0,0,373450,8.0500,B96 B98,S
6,0,3,"Moran, Mr. James",male,29.699118,0.0,0,330877,8.4583,B96 B98,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0.0,0,17463,51.8625,E46,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0.0,2,347742,11.1333,B96 B98,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1.0,0,237736,30.0708,B96 B98,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1.0,1,PP 9549,16.7000,G6,S
13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0.0,0,A/5. 2151,8.0500,B96 B98,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.000000,1.0,5,347082,31.2750,B96 B98,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0.0,0,350406,7.8542,B96 B98,S
18,1,2,"Williams, Mr. Charles Eugene",male,29.699118,0.0,0,244373,13.0000,B96 B98,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.000000,1.0,0,345763,18.0000,B96 B98,S
20,1,3,"Masselmani, Mrs. Fatima",female,29.699118,0.0,0,2649,7.2250,B96 B98,C

**6. Do min max scaling on the feature set (Take ‘Survived’ as target)**

In [49]:
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [50]:
min_max_scaler = MinMaxScaler()
df[[ "Survived"]] = min_max_scaler.fit_transform(df[[ "Survived"]])
print(df.head())

             Survived  Pclass                                          Name  \
PassengerId
1                 0.0       3                       Braund, Mr. Owen Harris
3                 1.0       3                        Heikkinen, Miss. Laina
4                 1.0       1  Futrelle, Mrs. Jacques Heath (Lily May Peel)
5                 0.0       3                      Allen, Mr. William Henry
6                 0.0       3                              Moran, Mr. James

                Sex        Age  SibSp  Parch            Ticket     Fare  \
PassengerId
1              male  22.000000    1.0      0         A/5 21171   7.2500
3            female  26.000000    0.0      0  STON/O2. 3101282   7.9250
4            female  35.000000    1.0      0            113803  53.1000
5              male  35.000000    0.0      0            373450   8.0500
6              male  29.699118    0.0      0            330877   8.4583

               Cabin Embarked
PassengerId
1            B96 B98        S
3            B96 B98        S
4               C123        S
5            B96 B98        S
6            B96 B98        Q